@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #1D2123;
    color: rgba(255, 255, 255, .25);
    font-family: 'Quicksand', sans-serif;
}

.slider-container {
  --progress-bar-height: 4px;
  --thumb-width: 12px;
  --thumb-height: 12px;
}

.slider-container {
  position: relative;
  max-width: 600px;
}

.range {
  -webkit-appearance: none;
  background-color: #FACD66;
  height: 10px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0 auto;
}

.volume {
  -webkit-appearance: none;
  background-color: #FACD66;
  height: 10px;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0 auto;
}

.volume::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);

  background: #FACD66;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.range::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);

  background: #FACD66;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.slider-container::before {
  content: '';
  background-color: rgba(255, 255, 255, .4);
  width: 99%;
  height: calc(var(--progress-bar-height) - 1px);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);
  z-index: 3;
  background: #FACD66;
  position: absolute;
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
  user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}

/* Custom Progress Bar */
.progress-bar-cover {
  background-color: #FACD66;
  /* width: 50%; */
  height: var(--progress-bar-height);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

.grid-p {
  grid-template-columns: 80px 1fr;
}

.overlay {
  background-size: 110%;
  transition: background-size .3s ease-in 
}

.overlay:hover {
  background-size: 160%;
}

.overlay:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  width: 213px;
  height: 234px;
  border-radius: 24px;
  background: rgba(0,0,0,.45)
}

@media screen and (max-width: 768px) {
  .overlay:before {
    width: 100%
  }
}